{% extends '_template.html.twig' %}

{% block title %}Liste des Albums!{% endblock %}

{% block content %}

<div class="section">
    <h1 class="title">Album : {{record.title}}</h1>
<section class="section">
<a href="{{path('artist_page',{id:record.artist.id})}}" class="button">Retour sur la page d'artist</a>

    <div class="columns">
        <div class="column is-two-fifth">
            <figure class="image is-1by1">
                <img src="https://loremflickr.com/1024/1024/album,music/all?lock={{record.id}}">
            </figure>
        </div>

        <div class="column">
            <h1 class="title has-text-primary">
                {{record.title}}
            </h1>
            <h2 class="subtitle">
                Artiste:
                <a href="{{path('artist_page', {id:record.artist.id})}}">
                    {{record.artist.name}}
                </a>
            </h2>

            <p class="content">
                {{record.description}}
            </p>

            <hr>
            <h6 class="is-size-7">
                <span class="icon has-text-info"><i class="fas fa-info-circle"></i></span>
                <span>{{record.releasedAt|date('d/m/Y')}}</span>
            </h6>
            <hr>
            {% include 'includes/flash.html.twig' %}
            <h1>Donnez une note : </h1>
            {% if form_action=='add_note' %}
                {% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
                {{form_start(notation_form)}}

                        {{form_row(notation_form.value,{label: "note"})}}
                        {{form_row(notation_form.comment,{label: "Commentaire"})}}
                        <button class="btn btn-success btn-bloc;" type="submit">Modifier</button>
                {{form_end(notation_form)}}

            {% endif %}
            {% endif %}
        </div>
    </div>
</section>
<div class="section">


    {% if list_notes|length > 0%}

            <div class="table-container">
                <table class="table">
                    <tr>
                        <th>Auteur</th>
                        <th>Commentaire </th>
                        <th>&eacute;toile(s) </th>
                        <th>Note </th>
                        <th>Date </th>

                    </tr>
                    {% for note in list_notes %}
                     <tr>
                        <td>{{note.author.getpseudo}} </td>
                        <td>{{note.comment}}  </td>
                        <td>
                            {% for i in 1..note.value %}
                                * 
                            {% endfor %}
                                                      
                        </td>
                        <td> {{ note.value }}/10</td>
                        <td>{{ note.createdAt|date("m/d/Y h:m:i") }} </td>

                    </tr>               
                    {% endfor %}
                </table>
            </div>

      
    {% endif %}

</div>
</div>
{% endblock %}
